.welcome{
    text-align: center;
    
}
.welcome h1{
    font-size: 70px;
    margin-bottom: 30px;
    text-shadow: yellow 2px 5px 2px;
    /* font-style: italic; */
}
.welcome h2{
    font-size: 50px;
    margin-bottom: 30px;
    font-family: "Bangers", system-ui;
    font-weight: 400;
    font-style: normal;
    color: rgb(0, 166, 255);
      

}
#gmore{
   color:  rgb(255, 128, 0);
}
.welcome h3{
    font-size: 80px;
    font-family: "Bangers", system-ui;
    font-weight: 400;
    font-style: normal;
    color: rgb(174, 0, 255);
}
#arrow{
    margin-top: 200px;
    font-size: 150px;
    color: rgba(0, 238, 255, 0.737);
    
}
      
